// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #F86D0E;
$green: #BEDAD2;
$gray: #0E0000;
$light-gray: #F4F4F4;
$white: #FFFFFF;
$offwhite: #F3F7F6;
$black: #1B1E1D;
$purple: purple;
$pink: pink;

