<%# URL : /recipes   %>
<%# PATH recipes %>


<h2> Your Recipes </h2>
  <div class="button-recipe-index">
    <button class="btn btn-primary">
      <%= link_to "Add A Recipe", new_recipe_path %>
    </button>
  </div>
  <div class="category-recipe">
    <% @recipes.each do | recipe | %>
    <div class="card-recipe-name">
            <%= link_to recipe_path(recipe) do %>
            <h2><%= recipe.name %></h2>
            <% end %>
              <% recipe.food_items.each do | food_item | %>
                  <p><%= food_item.name.capitalize %></p>
              <% end %>
    </div>
      <% end %>
  </div>
