<div class="navbar navbar-expand-sm navbar-light navbar-heiko">
  <div class="container-fluid">
  <div class="empty"></div>
    <%= link_to dashboard_path, class: "navbar-brand" do %>
      <h1>HE<em>I</em> KO</h1>
    <% end %>
    <div class="empty"></div>
  </div>
</div>
