LINK FROM EDIT USER

<div class="d-flex align-items-center">
  <div>Unhappy?</div>
  <br>
  <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-secondary" %>
</div>

<%= link_to "Back", :back %>
</div>
