<div class="my-container">
  <div class="day-cal">

    <%= calendar(number_of_days: 1) do |date| %>
      <%= link_to calendar_path do %>
      <div class="day-name">
      <%= date.strftime('%A') %>
      </div>
      <div class="day-number">
      <%= date.strftime('%e') %>
      </div>
      <% end %>
    <% end %>
  </div>
  <h2 class="dashboard-content">Welcome Gwen,</h2>
  <p id="p-dashboard-content">Have a great day today! One more day to kill and then it's weeekend. Whoop Whoop Uluwatu there you go! </p>
</div>
