<div class="landingpage">
  <div class="langpage header">
    <h1>HE<em>I</em> KO</h1>
    <div class="landingpage-content">
      <p>Trying to understadnd what your body is telling you? <br>
      HE<em>I</em> KO will help you to find the food what cost you the problems.<br>
      Log your food and symptomens daily and <br>
      HE<em>I</em> KO will help you explaining and give you your balance back.</p>
    </div>
  </div>
    <button class="btn btn-primary">
      <%= link_to new_user_registration_path do %>
      <p>Start Journey</p>
      <% end %>
    </button>
</div>
