<div class="landingpage">
  <div class="langpage header">
    <h1>HE<em>I</em> KO</h1>
    <div class="landingpage-content">
      <p id="typed"><span data-controller="typed-js"></span></p>
      <%= link_to dashboard_path, class:"btn btn-primary" do %>
      <p>Start Journey</p>
      <% end %>
    </div>
  </div>
</div>
