<%# PATH : new_report_report_mood %>
<%# URL : /reports/:report_id/report_moods/new %>

<div class="week"><%= render "shared/calendar_week" %></div>
<div class="day-cal-report"><%= render "shared/calendar_day_name" %></div>


<div class="my-container">

  <h2> ADD MOODS PAGE </h2>
 <%# display the moods here %>
</div>
