<%# PATH : food_items %>
<%# URL : /food_item%>

<div class="my-container">


    <div><h1>List of Items</h1></div>
    <div>
      <% @food_items.each do | food_item | %>
           <ul><%= food_item.name %></ul>
           <% end %>
    </div>
</div>
