// TWO BUTTONS (PRIMARY & SECONDARY)

.btn-primary {
position: relative;
width: 100px;
height: 40px;
background-color: $green;
text-align: center;
border-radius: 5px;
border-color: $green;
color: $black;
box-shadow: none;
text-decoration: none !important;
}

.btn-primary a {

  color: $black;
  text-decoration: none;
}

.btn-primary p {
  margin-bottom: 0px;
}

.btn-primary:hover {
  background-color: $white;
  transition-duration: 0.5s;
  border-color: $green;
  color: $black;
}

.btn-secondary {
position: relative;
width: 100px;
height: 40px;
background-color: $white;
text-align: center;
border-radius: 5px;
border-color: $green;
color: $black;
box-shadow: none;
text-decoration: none !important;
}

.btn-secondary a {

  color: $black;
  text-decoration: none;
}

.btn-secondary p {
  margin-bottom: 0px;
  color: $black;
}

.btn-secondary:hover {
  background-color: $green;
  transition-duration: 0.5s;
  border-color: $white;
  color: $black;
}


.btn-link {
  position: relative;
  width: 330px;
  height: 30px;
  background-color: white;
  text-align: left;
  border-radius: 0px;
  border-color: $offwhite;
  box-shadow: none;
  border-left: none;
  border-right: none;
  margin-top: 20px;
  text-decoration: none;
}

.btn-link a {

  color: $black;
  text-decoration: none;
}

.btn-link p {
  margin-bottom: 0px;
  text-decoration: none;
  margin-left: 18px;
}
