// CALENDAR WEEK AND MONTHS


// .calendar-week


// .calendar-month

.simple-calendar {
  padding: 0px 5px;
  border: none;
  table {
    border-collapse: separate;
    border-spacing: 10px;
    table-layout: fixed;
    border: none;
  }
  .today {
    background-color: $green;
    border-radius: 5px;
  }

  a {
    text-decoration: none;
    color: $black;
  }
}

.calendar-heading {
  /* margin-bottom: 10px; */
  display: flex;
  justify-content: space-between;

  a {
    display: none;
  }

}

.simple-calendar .day {
  height: 30px;
  color: #1B1E1D;
  background-color: $offwhite;
  border-radius: 5px;
  border: none;
}


.simple-calendar .today {
  background-color: $offwhite;
  border-radius: 30px;
  width: 30px;
  box-shadow:  0px 0px 2px 6px $green;
}

.simple-calendar .prev-month {
  background: $white;
  border: 1px solid $green;
}

.simple-calendar .next-month {
  background: $white;
  border: 1px solid $green;

}


.table-striped > tbody > tr:nth-of-type(odd) > * {
  --bs-table-accent-bg: $green;
  color: $black;
}

.calendar-title {
  color: $black;
  margin: 11px;
}


.week {
  .calendar-heading {
    display: none;
  }
}

.head, tbody, tfoot, tr, td, th {
  border-style: hidden;
}

*, *::before, *::after {
  box-sizing: content-box;
}

.simple-calendar td {
  vertical-align: middle;
  width: auto;
}

td {
  text-align: center;
}


.meeting {
  color: white;
  border-radius: 5px;
  background: #1EDD88;
  transition: background 0.3s ease;
}

.meeting:hover {
  background: #1BCB7F;
  color: white;
}


.day-cal {
  padding: 0px;
  width: 225px;
  height: 225px;
  box-shadow: 0px 0px 5px 25px #bedad2;
  border-radius: 130px;
  margin-top: 100px;

  .calendar-heading {
    display: none;
  }
}

.day-cal a {
  color: $black;
  text-decoration: none;
}

.day-name {
  font-size: 23px;
}

.day-number {
  color: $black;
  text-decoration: none;
  font-size: 70px;
}

.day-cal .simple-calendar .today {
  font-size: 100px;
  background-color: transparent;
  border-radius: 30px;
  width: 30px;
  box-shadow: 0px 0px 0px 0px transparent;
  padding-top: 24px;
}

.day-cal-report .calendar-heading {
  display: none ;
}

.day-cal-report .simple-calendar .today {
  background-color: $white;
  box-shadow:  0px 0px 0px 0px;
}

.day-cal-report .simple-calendar .today a {
  color: black;
  text-decoration: none;
  font-size: 26px;
}

.container-add-report-select-day {
  display: flex;
  flex-direction: column;
  align-items: center;
}
