// CARD MOODS & SYMPTOMES
body {
  background-color: $white;
}

  h2 {
    text-align: center;
    color: $black;
  }
.category-ms {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: center;

  p {
    text-align: center;
    color: $black;
  }
}
.card-ms {

  margin-bottom: 20px;

  .square {
  height: 160px;
  width: 130px;
  border-radius: 10px;
  background: $white;
  margin: 0px 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  box-shadow: rgba(50, 50, 93, 0.15) 0px 13px 27px -5px, rgba(0, 0, 0, 0.10) 0px 8px 16px -8px;
}

.card-ms-icon {
    width: 100px;
    height: 100px;

    path, circle {
      fill: $green;

    }
  }

}

.card-ms-symp {

  margin-bottom: 20px;

  .square {
  height: 160px;
  width: 130px;
  border-radius: 10px;
  background: $white;
  margin: 0px 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  box-shadow: rgba(50, 50, 93, 0.15) 0px 13px 27px -5px, rgba(0, 0, 0, 0.10) 0px 8px 16px -8px;
}

.card-ms-icon {
    width: 90px;
    height: 90px;
    margin-top: 20px;
    margin-bottom: 3px;

    path, circle {
      fill: $green;

    }
  }

}


.categoryy {
  margin-top: -20px;

  h2 {
    color: $green;
  }

}

.carousel-control-next-icon {
  // content: '>';
  background-image: url('next.png');
  margin-left: 25px;
}
