// CARD MOODS & SYMPTOMES
body {
  background-color: $white;
}

  h2 {
    text-align: center;
    color: $black;
  }
.category-ms {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: center;

  p {
    text-align: center;
    color: $black;
    font-size: 17px;
  }
}
.card-ms {
  display: inline-block;
  margin-bottom: 20px;


  .square {
  height: 140px;
  width: 120px;
  border-radius: 5px;
  background: $white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  box-shadow: rgba(50, 50, 93, 0.15) 0px 13px 27px -5px, rgba(0, 0, 0, 0.10) 0px 8px 16px -8px;
}

.card-ms-icon {
    width: 80px;
    height: 80px;

    path, circle {
      fill: $green;

    }
  }

}

.card-ms-symp {

  margin-bottom: 20px;

  .square {
  height: 160px;
  width: 130px;
  border-radius: 5px;
  background: $white;
  margin: 0px 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  box-shadow: rgba(50, 50, 93, 0.15) 0px 13px 27px -5px, rgba(0, 0, 0, 0.10) 0px 8px 16px -8px;
}

.card-ms-icon {
    width: 90px;
    height: 90px;
    margin-top: 20px;
    margin-bottom: 3px;

    path, circle {
      fill: $green;

    }
  }
}

.square p {
  margin-bottom: 0px;
}

.categoryy {
  margin-top: -20px;

  h2 {
    color: $green;
  }

}

.carousel-control-prev-icon {
  // content: '<';
  background-image: url('prev.svg');
  margin-left: 25px;
  height: 25px;
  width: 25px;
  right: 20px;
  bottom: 182px;
  position: absolute;
}
.carousel-control-next-icon {
  // content: '>';
  background-image: url('next.svg');
  margin-right: 25px;
  height: 25px;
  width: 25px;
  left: 20px;
  bottom: 182px;
  position: absolute;
}

.carousel-control-prev, .carousel-control-next {
  z-index: 0;
}

// PAGE SHOW OVERIEW DAY - FOOD ITEMS CARDS

.show-food {
  display: flex-start;
  margin-bottom: 20px;
  min-height: 100px;

  .square {
    position: relative;

    background-color: $offwhite;
    border-radius: 5px;
    border-color: $offwhite;
    color: $black;
    box-shadow: none;
    padding: 5px;
    padding-right: 20px;
    text-transform: capitalize;
  }

  h3 {
    margin: 10px 0px;
  }

  form {
    display: inline-block;
    margin: 4px 4px 4px 0px;
    padding: 1px;
  }
}

// PAGE SHOW OVERIEW DAY - MOOD CARDS

.show-mood {
  min-height: 100px;
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: left;
  margin-left: -15px;

  form {
    display: inline-block;
    margin: auto;
    padding: 1px;
  }
}


// JULES' CAROUSEL CLASS LEAVE IT ALONE (REPORTS MOOD)
.show-mood-carousel {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 25px;
}

.show-feeling-carousel {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 25px;
}

.show-mood .card-ms .square {
  height: 90px;
  width: 100px;
  padding: 10px 3px 10px 0px;
  position: relative;
  font-size: 90%;

  .btn-delete-ms button {
    position: absolute;
    top: -5px;
    right: -6px;
    background-color: $offwhite;
    border-radius: 3px;
    font-size: 10px;
    color: black;
    width: 3px;
    height: 15px;
    padding-right: 9px;
  }
}

.show-mood .card-ms {
  display: inline-block;
  margin-bottom: 20px;
  width: 115px;
}


.no-margin-square {
  margin: 12px !important;
}

// PAGE SHOW OVERIEW DAY - SHOW SYMPTOMS / FEELINGS CARDS

.show-feeling {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: left;
  margin-left: -15px;
  min-height: 100px;

  form {
    display: inline-block;
    margin: auto;
    padding: 1px;
  }
}

.show-feeling .card-ms {
  display: inline-block;
  margin-bottom: 20px;
  width: 115px;
}

.show-feeling .card-ms .square {
  height: 90px;
  width: 100px;
  padding: 10px 3px 10px 0px;
  font-size: 90%;
  position: relative;

  // .btn-delete-ms {
  //   padding-left: 0px;
  // }

  .btn-delete-ms button {
    position: absolute;
    top: -5px;
    right: -6px;
    background-color: $offwhite;
    border-radius: 3px;
    font-size: 10px;
    color: black;
    width: 3px;
    height: 15px;
    padding-right: 9px;
  }

}

.col-form-label {
  margin-bottom: 40px;

}

.mood-show-h3 {

margin-top: 10px;
}
