// CARD MOODS & SYMPTOMES
body {
  background-color: $white;
}
.category-digestion {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-around;

  p{
    text-align: center;
  }
}
.card-ms {

  .square {
  height: 150px;
  width: 150px;
  border-radius: 10px;
  background: $white;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  box-shadow: rgba(50, 50, 93, 0.15) 0px 13px 27px -5px, rgba(0, 0, 0, 0.10) 0px 8px 16px -8px;
}
.card-ms-icon {
    width: 100px;
    height: 100px;

    path {
      fill: $offwhite;

    }
  }
}
