// All SCSS for checkboxes for moods and symptoms here :)
.ms-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.ms-item {
  flex: 0 0 30%;
}

.card-ms-overview {
  position: absolute;
  transform: scale(0);
  cursor: pointer;
}

.card-ms-overview + label {
  display: block;
  cursor: pointer;
  box-sizing: border-box;
  width: 100%;
  font-size: 17px;
  text-align: left;
  padding: 0px 10px;
  border-radius: 5px;
  background-color: white;
}

.card-ms-overview:checked + label .square {
  background-color: $green;
  color: white !important;

  path, circle {
    fill: $white;
  }
}

.my-item {
  display: inline-block;
}

.carousel-indicators .active {
  display: none;
  opacity: 1;
  background-color: transparent !important;
}

.carousel-indicators [data-bs-target] {
  background-color: transparent;
}
