.month-view-report {
  font-size: 20px;
  font-weight: 400;
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;

  h3 {

    margin-top: 15px;
  }
}


.week-view-report {
  font-size: 20px;
  font-weight: 400;
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;

  h3 {

    margin-top: 15px;
  }

  .best-bad-day a {
    font-size: 25px;
    margin-top: 20px;

    }
}

.best-bad-day {
  display: flex;
  justify-content: space-evenly;
  margin-top: 15px;
  position: relative;
}

.best-day {
  background-color: #F3F7F6;
  height: 130px;
  width: 130px;
  border-radius: 100px;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 10px;

  p {
    color: black;
    font-size: 17px;
    margin-top: 35px;
    margin-bottom: -17px;
  }

  a {
    font-size: 35px;
    text-decoration: none;
    color: $black;
    margin-top: 10px;
  }
}

.bad-day {
  background-color: #F3F7F6;
  height: 130px;
  width: 130px;
  border-radius: 100px;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 10px;

  p {
    color: black;
    font-size: 17px;
    margin-top: 35px;
    margin-bottom: -17px;
  }

  a {
    font-size: 35px;
    text-decoration: none;
    color: $black;
    margin-top: 10px;
  }

}

.month-food-report {
  display: flex;
}

.week-food-report {
  display: flex;
}

.food-to-avoid {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin: 15px 13px 0px;
  border-radius: 5px;
  border: solid #BEDAD2;
  width: 150px;
  height: 230px;

  h2 {
    text-align: left;
    background-color: $green;
    padding: 10px;
    font-size: 17px;
    font-weight: 500;
  }

  p {
    padding-left: 10px;
  }
}

.happy-food {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin: 30px 0px;

  h2 {
    text-align: left;
  }
}


.month-suggest-report {
  display: flex;
  flex-direction: column;
}

.week-suggest-report {
  display: flex;
  flex-direction: column;
}


.suggest {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin: 30px 13px 0px;
  border-radius: 5px;
  border: solid #F3F7F6;
  width: 329px;
  height: 125px;

  h2 {
    text-align: left;
    background-color: $offwhite;
    padding: 10px;
    font-size: 17px;
    font-weight: 500;
  }

  p {
    padding-left: 10px;
  }
}

.suggest {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin: 30px 0px;

  h2 {
    text-align: left;
  }
}

.month-view-report .carousel-control-next-icon {
  height: 16px;
  width: 16px;
  left: 56px;
  bottom: 80px;

}

.month-view-report .carousel-control-prev-icon {
  height: 16px;
  width: 16px;
  right: 56px;
  bottom: 80px;
}

.week-view-report .carousel-control-next-icon {
  height: 16px;
  width: 16px;
  left: 56px;
  bottom: 80px;

}

.week-view-report .carousel-control-prev-icon {
  height: 16px;
  width: 16px;
  right: 56px;
  bottom: 80px;
}
