// INDEX RECIPES


.category-recipe {
  display: grid;
  // gap: 3%;
  grid-auto-flow: column;
  overflow-x: auto;
  overscroll-behavior-inline: contain;
  margin-bottom: 10px;
  width: 360px;
}


.card-recipe-name {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin: 15px 13px 0px;
  border-radius: 5px;
  border: solid #BEDAD2;
  width: 300px;
  height: 450px;

  h2, a {
    text-align: center;
    background-color: $green;
    padding: 10px;
    font-size: 18px;
    font-weight: 500;
    color: $black;
    text-decoration: none !important;
  }

  p {
  margin: 10px;
  }
}


  .button-recipe-index {
    margin: 20px 0px 20px 118px;
  }

// .category-recipe {
//   display: grid;
//   grid-template-columns: auto auto;
//   justify-content: center;

// }
// .card-recipe-name {
//   display: inline-block;
//   margin-bottom: 20px;

//     .square-recipe {
//     margin: 10px 8px 10px 8px;
//     height: 150px;
//     width: 150px;
//     border-radius: 5px;
//     background: $offwhite;
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     flex-direction: column;
//     box-shadow: rgba(50, 50, 93, 0.15) 0px 13px 27px -5px, rgba(0, 0, 0, 0.10) 0px 8px 16px -8px;

//     p {
//       text-align: center;
//       align-content: center;
//       padding-top: 11px;
//       color: $black;
//       font-size: 17px;
//     }

//     a {
//       text-decoration: none !important;
//     }
//   }
// }

.addrecipe-report {

  h3 {
    margin: 0px 0px 20px 17px;
  }

  a {
    text-decoration: none !important;
    padding-left: 4px;
    color: $black;
  }

  ul {
    list-style-type: none;
    margin-left: -14px;
  }

}

// NEW PAGE RECIPE
.add-recipe {
  margin: 10px;

  .add-recipe-form {
    margin-left: 15px;
  }
}

.ingredients-recipe {
  margin: 30px 0px 30px 0px;
}
.name-recipe .form-control {
  width: 301px;
  border: 1px solid #d0d0d0;
  color: #d0d0d0;
  margin-left: 0px;
  padding: 0px 0px 0px 0px;
  font-size: 17px;
  height: 35px;
  border-radius: 5px;
  margin-top: 15px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;       /* Remove default arrow */
  background-image: url(...);
}
.add-fooditem-recipe {
  margin-top: 20px;
  .ts-control {
    height: 38px;
  }
}

.add-fooditem-recipe-btn {
  margin-top: 50px;
  margin-left: -20px;
}


.meal-type-recipe {
  margin-bottom: 10px;

  select {
    -webkit-appearance: button;
    -moz-appearance: button;
    -webkit-user-select: none;
    -moz-user-select: none;
    -webkit-padding-end: 20px;
    -moz-padding-end: 20px;
    -webkit-padding-start: 2px;
    -moz-padding-start: 2px;
    appearance: none;       /* Remove default arrow */
    background-image: url(...);   /* Add custom arrow */
    color: #555;
    font-size: inherit;
    margin: 0;
    overflow: hidden;
    padding-top: 2px;
    padding-bottom: 2px;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 301px;
    border: 1px solid #d0d0d0;
    color: #d0d0d0;
    margin-left: 0px;
    padding: 0px 0px 0px 0px;
    font-size: 17px;
    height: 35px;
    border-radius: 5px;
    margin-top: 15px;



    select:hover {
      background-image: linear-gradient(var(--accentFg), var(--accentFg)),
        linear-gradient(-135deg, transparent 50%, var(--accentFg) 50%),
        linear-gradient(-225deg, transparent 50%, var(--accentFg) 50%),
        linear-gradient(var(--accentFg) 42%, var(--accentBg) 42%);
    }

    option active:after {
      border-color: transparent transparent #fff transparent;
      top: 7px;
    }

 }



  .form-control {


      width: 301px;
      border: 1px solid #d0d0d0;
      color: #d0d0d0;
      margin-left: 0px;
      padding: 0px 0px 0px 0px;
      font-size: 17px;
      height: 35px;
      border-radius: 5px;
      margin-top: 15px;
    // }
  }
}
// SHOW PAGE RECIPE

.cards-recipes {
  h2 {
    font-weight: 600;
  }
  h3 {
    margin-top: 30px;
  }
}
.recipes-food-items {
  display: flex-start;
  // justify-content: center;

    margin: 20px 0px 20px 0px;

    .square {
      padding-right: 20px;
      text-transform: capitalize;
      display: inline-block;
      margin: 4px 4px 4px 0px;
      padding: 1px;

        .recipes-food-name {
          margin: 3px;
          display: inline-block;
          background-color: $offwhite;
          border-radius: 5px;
          border-color: $offwhite;
          color: $black;
          box-shadow: none;
          padding: 6px;
        }
    }

    h3 {
      margin: 10px 0px;
    }
}
