.add-recipe {
  margin: 20px;
}

.name-recipe {
  .form-control {
    width: 100%;
    border: 1px solid #d0d0d0;
    color: #d0d0d0;
    padding: 0px 33px 0px 0px;
  }
}


.add-fooditem-recipe {
  margin-top: 20px;

}
