.add-fooditem{
  margin: 20px;
}

.form-select {
  width: auto;
}

.btn-submit-report {
  margin-top: 5px;
  position: relative;
  width: 105px;
  height: 40px;
  background-color: $green;
  text-align: center;
  border-radius: 5px;
  border-color: $green;
  color: $white;
  box-shadow: none;
}

.btn-submit-report:hover {
  background-color: $white;
  transition-duration: 0.5s;
  border-color: $green;
  color: $green;
}

.recent-fooditem {

  h3{
    font-size: 26px;
    margin-top: 30px;
  }
}

.form-check {
  margin: 2px;
  padding: 1px;
  display: inline-block;

}

.recent-fooditem-name {
  margin-top: 10px;
  text-transform: capitalize;

  fieldset {
    display: flex-start;
  }
}

  // .tag-selector
  .form-check-input {
    position: absolute;
    transform: scale(0);
}

// .tag-selector + label

.form-check-input + label {
  cursor: pointer;
  background-color: $offwhite;
  border-radius: 5px;
  color: $black;
  box-shadow: none;
  padding: 8px;
}

// .tag-selector:checked + label

  .square .form-check :checked + label {
    background-color: $green;
    color: $white;
  }
