<%# PATH : reports %>
<%# URL : /reports %>

<%# no my-container %>



    <div class="week"><%= render "shared/calendar_week" %></div>
<%# no my-container %>
  <div class="day-cal-report"><%= render "shared/calendar_day_name" %></div>


  <h2>Below what you have eaten today!</h2>
</div>
