<%# PATH : reports %>
<%# URL : /reports %>




<div class="week"><%= render "shared/calendar_week" %></div>

<div class="day-cal-report"><%= render "shared/calendar_day_name" %></div>


  <h2>Below what you have eaten today!</h2>

<div class="profile-settings">

  <button class="btn btn-link">
    <%= link_to new_user_session_path do %>
    <p>Week overview</p>
    <% end %>
  </button>
    <button class="btn btn-link">
    <%= link_to new_user_session_path do %>
    <p>Month overview</p>
    <% end %>
  </button>

  </div>

</div>
