<%# PATH: report %>
<%# URL: /reports/:id %>

<%#
<h2>Show Report of the day</h2>

<div class="my-container">
  <div class="overview-day">
    <div class="overview-meal">
      <div class="overview-breakfast">
        <div class="square-overview">
        </div>
      </div>
      <div class="overview-lunch">
        <div class="square-overview">
        </div>
      </div>
      <div class="overview-dinner">
        <div class="square-overview">
        </div>
      </div>
      <div class="overview-snacks">
        <div class="square-overview">
        </div>
      </div>
      <div class="overview-drinks">
        <div class="square-overview">
        </div>
      </div>
    </div>

    <div class="overview-moods">

    </div>

    <div class="overiew-feelings">

    </div>

  </div>
</div> %>
