<%# PATH: report %>
<%# URL: /reports/:id %>


<%# <%= @report.food_item.meal_type  %>

<%# <%= today_report.report_food_items.group(:meal_type).count  %>


<h2>Show Report of the day</h2>
  <div class="overview-day">
  <% @report_food_items.each do | group | %>
  <p><%= @meal_type_name = group[0]  %></p>
  <% group[1].each do |report_food_item|%>
  <%= report_food_item.food_item.name %>
      <% end %>
    <% end %>
  </div>
